/**
 * @name          Custom Addons Beta
 * @version       1.0
 * @description   Custom Addons Beta
 */

@import url(https://raw.githubusercontent.com/NSPC911/vencord-themes/refs/heads/main/RefreshedSeamlessChatBar.theme.css);
@import url(https://raw.githubusercontent.com/BIurple/VC-Themes/refs/heads/main/Extras/ModernIndicators.css);
@import url(https://davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/CompactButtons.css');
@import url(https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css);
@import url(https://nspc911.github.io/vencord-themes/ChatBubblesKinda.theme.css);
@import url(https://davart154.github.io/Themes/Snippets/Plugin%20Icon%20Consistency/IconConsistencySource.css);
@import url(https://davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/UserActivityRedesign/import.css);
@import url(https://dmods.a35hie.me/MoreRoundedCorners.css);
@import url(https://raw.githubusercontent.com/amozeo/discord-css-snippets/refs/heads/main/snippets/compact-memberlist.css);
@import url(https://raw.githubusercontent.com/amozeo/discord-css-snippets/refs/heads/main/snippets/compact-search-button.css);
@import url(https://raw.githubusercontent.com/nvhhr/discordcss/refs/heads/main/snippets/dashless-extended.theme.css);
@import url(https://raw.githubusercontent.com/fevegit/NoCameraMirror/refs/heads/main/NoCameraMirror.theme.css);
@import url(https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/BubbleUsernames/import.css");
@import url(https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/NSFWtag.css);
@import url(https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/ThreadChannelRecolor.css);
@import url(https://codeberg.org/flak/css1/raw/branch/main/vcSnippets/persistMessageHoverHighlightDespiteReduceMotion.css);
@import url(https://raw.githubusercontent.com/acheronx0577/Better-Transparent-Gif-Emoji-Sticker-Picker/refs/heads/main/Better-Transparent-Gif-Emoji-Sticker-Picker.css);
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Audio%20Refresh/AudioRefreshSource.css);
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Context%20Icons/ContextIconsSource.css);
@import url(https://raw.githubusercontent.com/EPOS05/cleaner-discord-theme/refs/heads/main/snippets/Fuck%20Activity%20Status.css);
@import url(https://raw.githubusercontent.com/nvhhr/discordcss/refs/heads/main/snippets/bordercleanup.theme.css);
@import url(https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/OtherStuff/hideGlobalDiscovery.css);
@import url(https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/Channel%26RolesRecolor.css);
@import url(https://nspc911.github.io/vencord-themes/SettingsModal.theme.css);
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Mana%20Composer/ManaComposerSource.css);
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Mana%20Page%20Switcher/ManaPageSwitcherSource.css);
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Mana%20Panel/ManaPanelSource.css);
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Mana%20Profile/ManaProfileSource.css);
@import url(https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/BubbleUsernames/import.css);
@import url(https://raw.githubusercontent.com/Nightwielder23/discord-fluidui/refs/heads/master/discord-fluidui.theme.css);
@import url(https://raw.githubusercontent.com/r480github/Basalt-DC/refs/heads/main/basalt.css);
@import url(https://raw.githubusercontent.com/DiscordStyles/HorizontalServerList/deploy/HorizontalServerList.theme.css);




:root {
  /* Change your wallpaper here */
  /* works best with darker background*/

  --bg-image: url(https://static1.e621.net/data/be/d9/bed99dc4db3bd3db5b596c29ae59133b.jpg);
  --bg-size: cover;
  --bg-position: center;
  --bg-blur: 0px;
  --bg-brightness: 0.5;
  --tint: 0, 0, 0;
  --tint-app: 0;
  --tint-panels: 0.3;
  --glass: rgba(var(--tint), 0.36);
  --glass-heavy: rgba(var(--tint), 0.63);
  --shadow-pop: 0 10px 41px 5px rgba(var(--tint), 0.5);

  /*blur*/
  --blur-sm: 0px;
  --blur-lg: 0px;

  /*mentions*/
  --accent: 248, 248, 248;
  --mention-fill: rgba(var(--accent), 0.14);
  --mention-fill-hover: rgba(var(--accent), 0.08);
  --mention-bar: rgba(var(--accent), 0.97);

  /*scrool bar*/
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: rgba(var(--accent), 0.18);
  --scrollbar-auto-thumb: rgba(var(--accent), 0.18);
  --scrollbar-auto-scrollbar-color-thumb: rgba(var(--accent), 0.18);
  --scrollbar-auto-scrollbar-color-track: transparent;
}
