/**
 * @name          Custom Addons
 * @version       1.0
 * @description   Custom Addons
 */

@import url(https://raw.githubusercontent.com/NSPC911/vencord-themes/refs/heads/main/RefreshedSeamlessChatBar.theme.css);
@import url(https://raw.githubusercontent.com/BIurple/VC-Themes/refs/heads/main/Extras/ModernIndicators.css);
@import url(https://davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/CompactButtons.css);
@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");
@import url(https://nspc911.github.io/vencord-themes/ChatBubblesKinda.theme.css);
@import url(https://davart154.github.io/Themes/Snippets/Plugin%20Icon%20Consistency/IconConsistencySource.css);
@import url(https://davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/UserActivityRedesign/import.css);
@import url(https://dmods.a35hie.me/MoreRoundedCorners.css);
@import url(https://raw.githubusercontent.com/amozeo/discord-css-snippets/refs/heads/main/snippets/compact-memberlist.css);
@import url(https://raw.githubusercontent.com/amozeo/discord-css-snippets/refs/heads/main/snippets/compact-search-button.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Page%20Switcher/ManaPageSwitcherSource.css);
@import url(https://raw.githubusercontent.com/nvhhr/discordcss/refs/heads/main/snippets/dashless-extended.theme.css);
@import url(https://raw.githubusercontent.com/fevegit/NoCameraMirror/refs/heads/main/NoCameraMirror.theme.css);
@import url("https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/BubbleUsernames/import.css");
@import url("https://raw.githubusercontent.com/squairdev/ComiCord/refs/heads/main/ComiCord.css");
@import url(https://raw.githubusercontent.com/akrossu/SimpleAndClean/refs/heads/main/src/mica.css);
@import url(https://raw.githubusercontent.com/akrossu/SimpleAndClean/refs/heads/main/src/sidebar.css);
@import url(https://raw.githubusercontent.com/akrossu/SimpleAndClean/refs/heads/main/src/chat.css);
@import url(https://raw.githubusercontent.com/akrossu/SimpleAndClean/refs/heads/main/src/window.css);
@import url(https://raw.githubusercontent.com/akrossu/SimpleAndClean/refs/heads/main/src/settings.css);
@import url(https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/NSFWtag.css);
@import url(https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/refs/heads/main/ThreadChannelRecolor.css);
@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha.theme.css");

:root { /* App Wallpaper */
    --app-bg-url: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fb93c119-990c-44eb-8d9d-2f4f26c64bec/dm6y3e1-3f7d309e-dd03-4143-9cd1-dfec16a933f0.png/v1/fill/w_1078,h_741,q_70,strp/twilight_s_reign_by_blitsazalisdash_dm6y3e1-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTMyMCIsInBhdGgiOiIvZi9mYjkzYzExOS05OTBjLTQ0ZWItOGQ5ZC0yZjRmMjZjNjRiZWMvZG02eTNlMS0zZjdkMzA5ZS1kZDAzLTQxNDMtOWNkMS1kZmVjMTZhOTMzZjAucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ImYYDcjMLxqA-UPU3GVjv7mtMec-LkUMyAlUl_X1Lk0");
  
}

    /* ========================= MICA SETTINGS ========================= */
    --app-bg-brightness: 40%;
    --panel-rgb: rgba(0, 0, 0, 0.05);


